html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.section__margin {
	margin: 4rem 6rem;
}
.section-margin {
	margin: 4rem 0 0 0;
}
